.DS_Store
.env
.env.*
*.log
*.pid
*.seed
*.tsbuildinfo
coverage/
dist/
node_modules/
.vscode/
.idea/
server/public/
.vite/
*.tar.gz
*.zip
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
